CREATE TABLE public.action_codes (
    action_code character varying(10) NOT NULL,
    action_type character varying(50) NOT NULL,
    action_category character varying(50),
    definition text
);

ALTER TABLE public.action_codes OWNER TO postgres;

-- Name: actors; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.actors (
    actor_id character varying(20) NOT NULL,
    surname character varying(150) NOT NULL,
    given_name character varying(150) NOT NULL,
    middle_name character varying(150),
    birth_year integer
);

ALTER TABLE public.actors OWNER TO postgres;

-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);

ALTER TABLE public.alembic_version OWNER TO postgres;

-- Name: articles; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.articles (
    article_id integer NOT NULL,
    url character varying(500) NOT NULL,
    headline character varying(250) NOT NULL,
    summary text NOT NULL,
    source_name character varying(200) NOT NULL,
    published_date date NOT NULL,
    collected_date timestamp without time zone NOT NULL,
    is_processed boolean NOT NULL,
    is_junk boolean NOT NULL
);

ALTER TABLE public.articles OWNER TO postgres;

-- Name: articles_article_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
CREATE SEQUENCE public.articles_article_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

ALTER SEQUENCE public.articles_article_id_seq OWNER TO postgres;
ALTER SEQUENCE public.articles_article_id_seq OWNED BY public.articles.article_id;

-- Name: control_frame; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.control_frame (
    event_code character varying(30) NOT NULL,
    rec_timestamp timestamp without time zone NOT NULL,
    event_actor text,
    action_type character varying(50),
    action_code character varying(10),
    rel_cred character varying(5),
    cie_body text,
    identified_subjects jsonb,
    identified_objects jsonb,
    source_article_id integer,
    parse_tree_cache jsonb,
    updated_at timestamp without time zone
);

ALTER TABLE public.control_frame OWNER TO postgres;

-- Name: institutions; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.institutions (
    institution_code character varying(100) NOT NULL,
    institution_name character varying(300) NOT NULL,
    institution_type character varying(50),
    institution_layer character varying(10),
    institution_subtype character varying(50),
    country_code character varying(3)
);

ALTER TABLE public.institutions OWNER TO postgres;

-- Name: positions; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.positions (
    country_code character varying(3),
    institution_name character varying(300) NOT NULL,
    position_code character varying(100) NOT NULL,
    position_title character varying(300) NOT NULL,
    institution_code character varying(100) NOT NULL,
    hierarchy_level character varying(12)
);

ALTER TABLE public.positions OWNER TO postgres;

-- Name: tenures; Type: TABLE; Schema: public; Owner: postgres
CREATE TABLE public.tenures (
    tenure_id integer NOT NULL,
    actor_id character varying(20) NOT NULL,
    position_code character varying(100) NOT NULL,
    tenure_start date NOT NULL,
    tenure_end date,
    notes character varying(100),
    CONSTRAINT chk_tenure_dates CHECK (((tenure_end IS NULL) OR (tenure_end >= tenure_start)))
);

ALTER TABLE public.tenures OWNER TO postgres;

-- Name: tenures_tenure_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
CREATE SEQUENCE public.tenures_tenure_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

ALTER SEQUENCE public.tenures_tenure_id_seq OWNER TO postgres;
ALTER SEQUENCE public.tenures_tenure_id_seq OWNED BY public.tenures.tenure_id;

-- Set Defaults for Sequences
ALTER TABLE ONLY public.articles ALTER COLUMN article_id SET DEFAULT nextval('public.articles_article_id_seq'::regclass);
ALTER TABLE ONLY public.tenures ALTER COLUMN tenure_id SET DEFAULT nextval('public.tenures_tenure_id_seq'::regclass);

-- Primary Keys
ALTER TABLE ONLY public.action_codes ADD CONSTRAINT action_codes_pkey PRIMARY KEY (action_code);
ALTER TABLE ONLY public.actors ADD CONSTRAINT actors_pkey PRIMARY KEY (actor_id);
ALTER TABLE ONLY public.alembic_version ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);
ALTER TABLE ONLY public.articles ADD CONSTRAINT articles_pkey PRIMARY KEY (article_id);
ALTER TABLE ONLY public.articles ADD CONSTRAINT articles_url_key UNIQUE (url);
ALTER TABLE ONLY public.control_frame ADD CONSTRAINT control_frame_pkey PRIMARY KEY (event_code);
ALTER TABLE ONLY public.institutions ADD CONSTRAINT institutions_pkey PRIMARY KEY (institution_code);
ALTER TABLE ONLY public.positions ADD CONSTRAINT positions_pkey PRIMARY KEY (position_code);
ALTER TABLE ONLY public.tenures ADD CONSTRAINT tenures_pkey PRIMARY KEY (tenure_id);
ALTER TABLE ONLY public.tenures ADD CONSTRAINT unique_tenure UNIQUE (actor_id, position_code, tenure_start);

-- Foreign Keys
ALTER TABLE ONLY public.control_frame ADD CONSTRAINT control_frame_action_code_fkey FOREIGN KEY (action_code) REFERENCES public.action_codes(action_code);
ALTER TABLE ONLY public.control_frame ADD CONSTRAINT control_frame_source_article_id_fkey FOREIGN KEY (source_article_id) REFERENCES public.articles(article_id);
ALTER TABLE ONLY public.positions ADD CONSTRAINT positions_institution_code_fkey FOREIGN KEY (institution_code) REFERENCES public.institutions(institution_code);
ALTER TABLE ONLY public.tenures ADD CONSTRAINT tenures_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.actors(actor_id);
ALTER TABLE ONLY public.tenures ADD CONSTRAINT tenures_position_code_fkey FOREIGN KEY (position_code) REFERENCES public.positions(position_code);

-- Permissions
GRANT ALL ON SCHEMA public TO PUBLIC;